__pycache__/
*.log
/transcribe.bash
/batch_transcribe.bash
Payload/
Automation/OneDrive
.terraform*
terraform.tfstate*
.vscode/
*.zip
.vagrant/
.vscode/
NoGit/
/Automation/VM/Ansible/inventory
.venv*/
nohup.out
.env/
*.btr
*.mp3
*.wav
Training/
bb.bash
sups_speakers.txt
training_mapa.yaml
*.ipynb_checkpoint
*.ipynb_checkpoints/

