/__pycache__
*.log
/transcribe.bash
/batch_transcribe.bash
Tmp/
Payload/
Automation/OneDrive
.terraform*
terraform.tfstate*
.vscode/
*.zip
.vagrant/
.vscode/
InternalDoc/
Old/
/Automation/VM/Ansible/inventory
/Sttcast.mm

