[Unit]
Description=Sttcast Context Server Service (%i)
After=network.target
Wants=network.target

[Service]
Type=simple
EnvironmentFile=/opt/sttcast/etc/%i.env
ExecStart=/opt/sttcast/scripts/sttccontext.bash
Restart=always
RestartSec=5
User=jmrobles
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
