[Unit]
Description=Sttcast Context Server Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/opt/Sttcast/scripts/sttccontext.bash
Restart=always
RestartSec=5
User=teleconectados
WorkingDirectory=/opt/Sttcast
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
